# Group Work

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

### Info

In [3]:
file = pd.read_csv('alldata.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'alldata.csv'

In [3]:
file.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [5]:
dataset = file

In [7]:
dataset['location'].unique()

array(['Atlanta, GA 30301 ', 'Atlanta, GA', 'Atlanta, GA 30303 ',
       'Atlanta, GA 30318 ', 'Atlanta, GA 30338', 'Atlanta, GA 30309 ',
       'Atlanta, GA 30329', 'Atlanta, GA 30328', 'Atlanta, GA 30313 ',
       'Atlanta, GA 30306 ', 'Atlanta, GA 30327 ', 'Atlanta, GA 30322',
       'Atlanta, GA 30319', 'Atlanta, GA 30342 ', 'Atlanta, GA 30308 ',
       'Atlanta, GA 30341', 'Atlanta, GA 30326 ', 'Atlanta, GA 30361 ',
       'Atlanta, GA 30363 ', 'Atlanta, GA 30332 ', 'Atlanta, GA 30345',
       'Atlanta, GA 30350', 'Atlanta, GA 30339', 'Austin, TX',
       'Austin, TX 78746', 'Austin, TX 78701', 'Austin, TX 78759',
       'Round Rock, TX 78664', 'Cedar Park, TX 78613', 'Austin, TX 78702',
       'Austin, TX 78754', nan, 'Austin, TX 78751', 'Austin, TX 73344',
       'Austin, TX 78731', 'Austin, TX 78716', 'Austin, TX 78729',
       'Austin, TX 78758', 'Austin, TX 78769', 'Austin, TX 78753',
       'Austin, TX 78703', 'Austin, TX 78744', 'Austin, TX 78723',
       'Austin, TX 78747', 'Austin, TX 78730', 'Round Rock, TX',
       'Austin, TX 78727', 'Boulder, CO', 'Boulder, CO 80302',
       'Boulder, CO 80301', 'Boston, MA', 'Boston, MA 02110',
       'Boston, MA 02129', 'Boston, MA 02116', 'Boston, MA 02111',
       'Boston, MA 02298', 'Boston, MA 02109', 'Boston, MA 02210',
       'Boston, MA 02212', 'Boston, MA 02215', 'Boston, MA 02114',
       'Boston, MA 02199', 'Boston, MA 02134', 'Boston, MA 02108',
       'Boston, MA 02201', 'Boston, MA 02115', 'Boston, MA 02118',
       'Chicago, IL', 'Chicago, IL 60642', 'Chicago, IL 60603',
       'Chicago, IL 60606', 'Chicago, IL 60601', 'Chicago, IL 60664',
       'Chicago, IL 60290', 'Chicago, IL 60654', 'Chicago, IL 60614',
       'Chicago, IL 60604', 'Chicago, IL 60607', 'Chicago, IL 60647',
       'Chicago, IL 60661', 'Chicago, IL 60657', 'Chicago, IL 60659',
       'Chicago, IL 60631', 'Chicago, IL 60610', 'Chicago, IL 60611',
       'Chicago, IL 60615', 'Chicago, IL 60613', 'Chicago, IL 60602',
       'Chicago, IL 60646', 'Chicago, IL 60616', 'Washington, DC 20006',
       'Washington, DC 20422', 'Washington, DC 20005', 'Washington, DC',
       'Washington, DC 20001', 'Washington, DC 20036',
       'Washington, DC 20003', 'Washington, DC 20044',
       'Washington, DC 20230', 'Washington, DC 20037',
       'Washington, DC 20024', 'Washington, DC 20032',
       'Washington, DC 20229', 'Washington, DC 20002',
       'Washington, DC 20020', 'Washington, DC 20022',
       'Washington, DC 20009', 'Washington, DC 20318',
       'Washington, DC 20301', 'Washington, DC 20585',
       'Washington, DC 20376', 'Washington, DC 20004',
       'Washington, DC 20535', 'Washington, DC 20007',
       'Washington, DC 20010', 'Los Angeles, CA', 'Los Angeles, CA 90002',
       'Los Angeles, CA 90012', 'Los Angeles, CA 90006',
       'Los Angeles, CA 90036', 'Los Angeles, CA 90064',
       'Los Angeles, CA 90001', 'Los Angeles, CA 90025',
       'Los Angeles, CA 90067', 'Los Angeles, CA 90015',
       'Los Angeles, CA 90028', 'Los Angeles, CA 90048',
       'Los Angeles, CA 90024', 'Los Angeles, CA 90071',
       'Los Angeles, CA 90095', 'Los Angeles, CA 90066',
       'Los Angeles, CA 90046', 'Los Angeles, CA 90010',
       'Los Angeles, CA 90045', 'Los Angeles, CA 90016',
       'Los Angeles, CA 90017', 'Cambridge, MA', 'Cambridge, MA 02139',
       'Cambridge, MA 02140', 'Cambridge, MA 02142',
       'Cambridge, MA 02141', 'Cambridge, MA 02138',
       'Cambridge, MA 02163', 'Mountain View, CA 94040',
       'Mountain View, CA 94043', 'Mountain View, CA',
       'Mountain View, CA 94039', 'Mountain View, CA 94041',
       'Manhattan, NY', 'Mountain View, CA 94035', 'New York, NY',
       'New York, NY 10032', 'Jersey City, NJ', 'New York, NY 10016',
       'New York, NY 10003', 'New York, NY 10261', 'Newark, NJ',
       'Oakland, NJ', 'New York, NY 10001', 'Bronx, NY',
       'New York, NY 10019', 'New York, NY 10154', 'New York, NY 10004',
       'New York, NY 10010', 'New York, NY 10065', 'New York, NY 10022',
       'New York, NY 10007', 'New York, NY 10020', 'New York, NY 10011',
       'New York, NY 10036', 'Hoboken, NJ 07030', 'New York, NY 10014',
       'Brooklyn, NY', 'New York, NY 10017', 'New York, NY 10173',
       'New York, NY 10002', 'New York, NY 10282', 'Rutherford, NJ',
       'Union, NJ 07083', 'Rahway, NJ', 'Newark, NJ 07105',
       'Jersey City, NJ 07310', 'Murray Hill, NJ', 'South Plainfield, NJ',
       'New York, NY 10018', 'New York, NY 10012', 'New York, NY 10011 ',
       'New York, NY 10281 ', 'New York, NY 10104 ', 'Hoboken, NJ',
       'New York, NY 10154 ', 'New York, NY 10014 ',
       'New York, NY 10032 ', 'New York, NY 10282 ',
       'New York, NY 10001 ', 'Queens, NY', 'New York, NY 10016 ',
       'New York, NY 10022 ', 'Little Falls, NJ',
       'Florham Park, NJ 07932', 'New York, NY 10006 ',
       'New York, NY 10261 ', 'New York, NY 10179 ', 'Troy Hills, NJ',
       'Bloomfield, NJ', 'New York, NY 10013 ', 'Lynbrook, NY',
       'Allendale, NJ', 'Parsippany, NJ', 'New York, NY 10018 ',
       'New York, NY 10003 ', 'New York, NY 10176 ',
       'New York, NY 10002 ', 'New York, NY 10023 ',
       'New York, NY 10029 ', 'New York, NY 10017 ',
       'New York, NY 10107 ', 'New York, NY 10038 ',
       'West Orange, NJ 07052', 'Kenilworth, NJ', 'New York, NY 10041 ',
       'New York, NY 10005 ', 'New York, NY 10012 ',
       'New York, NY 10065 ', 'Ridgefield, NJ', 'New York, NY 10119 ',
       'Harrison, NY', 'Montclair, NJ', 'New York, NY 10171 ',
       'Fort Lee, NJ', 'New York, NY 10010 ', 'New York, NY 10021 ',
       'Carlstadt, NJ 07072', 'Orangeburg, NY 10962',
       'Jersey City, NJ 07310 ', 'Fairfield, NJ', 'Palisades, NY',
       'Hackensack, NJ', 'Roseland, NJ 07068', 'New York, NY 10168 ',
       'New York, NY 10172 ', 'East Hanover, NJ 07936',
       'Long Beach, NY 11561', 'Whippany, NJ', 'Union, NJ',
       'Brooklyn, NY 11249 ', 'Jersey City, NJ 07311 ',
       'New York, NY 10019 ', 'Manhasset, NY 11030', 'Yonkers, NY 10701',
       'Brooklyn, NY 11216 ', 'New York, NY 10279 ',
       'New York, NY 10004 ', 'New Hyde Park, NY 11040', 'Secaucus, NJ',
       'New York, NY 10055 ', 'Port Washington, NY 11050',
       'Staten Island, NY', 'Short Hills, NJ', 'Manhattanville, NY',
       'Woodcliff Lake, NJ', 'New York, NY 10027 ', 'New York, NY 10007 ',
       'Brooklyn, NY 11201', 'Redmond, WA 98052', 'Redmond, WA',
       'Redmond, WA 98053', 'San Diego, CA', 'San Diego, CA 92109',
       'San Diego, CA 92121', 'San Diego, CA 92108',
       'San Diego, CA 92127', 'San Diego, CA 92111',
       'San Diego, CA 92123', 'San Diego, CA 92122',
       'San Diego, CA 92130', 'San Diego, CA 92120',
       'San Diego, CA 92102', 'San Diego, CA 92154',
       'San Diego, CA 92128', 'San Diego, CA 92129', 'Bedminster, NJ',
       'New Brunswick, NJ', 'San Diego, CA 92110', 'San Diego, CA 92105',
       'Seattle, WA 98104', 'Seattle, WA', 'Seattle, WA 98109',
       'Seattle, WA 98101', 'Seattle, WA 98115', 'Seattle, WA 98102',
       'Seattle, WA 98121', 'Seattle, WA 98119', 'Seattle, WA 98103',
       'Seattle, WA 98105', 'Seattle, WA 98127', 'Seattle, WA 98194',
       'Seattle, WA 98106', 'Seattle, WA 98168', 'Seattle, WA 98164',
       'Seattle, WA 98122', 'Seattle, WA 98188', 'Seattle, WA 98134',
       'Seattle, WA 98195', 'San Francisco, CA 94103', 'Redwood City, CA',
       'San Francisco, CA', 'San Francisco, CA 94105',
       'San Francisco, CA 94124', 'San Mateo, CA',
       'Redwood City, CA 94063', 'Berkeley, CA',
       'San Francisco Bay Area, CA', 'Menlo Park, CA 94026',
       'Redwood City, CA 94065', 'Emeryville, CA', 'Oakland, CA',
       'South San Francisco, CA', 'San Francisco, CA 94107',
       'Foster City, CA', 'San Francisco, CA 94114',
       'San Francisco, CA 94158', 'San Francisco, CA 94104',
       'San Francisco, CA 94133', 'Redwood City, CA 94062',
       'Oakland, CA 94612', 'Emeryville, CA 94608',
       'South San Francisco, CA 94080', 'San Carlos, CA 94070',
       'San Francisco, CA 94115', 'San Mateo, CA 94404',
       'San Francisco, CA 94108', 'San Francisco, CA 94126',
       'Union City, CA 94587', 'Burlingame, CA 94010', 'Belmont, CA',
       'Richmond, CA 94804', 'Richmond, CA', 'Berkeley, CA 94710',
       'San Francisco, CA 94111', 'Hayward, CA',
       'South San Francisco, CA 94083', 'Novato, CA',
       'San Francisco, CA 94102', 'Burlingame, CA', 'Alameda, CA 94501',
       'San Rafael, CA', 'San Mateo, CA 94403', 'Alameda, CA',
       'Menlo Park, CA 94025', 'Pleasant Hill, CA', 'San Bruno, CA',
       'Oakland, CA 94611', 'Oakland, CA 94607', 'Redwood City, CA 94061',
       'Novato, CA 94949', 'San Ramon, CA', 'Lafayette, CA',
       'San Leandro, CA', 'Hayward, CA 94545', 'San Carlos, CA',
       'San Mateo, CA 94401', 'Daly City, CA 94016',
       'Mill Valley, CA 94941', 'San Francisco, CA 94129',
       'San Francisco, CA 94109', 'Fremont, CA 94555',
       'Richmond, CA 94806', 'San Bruno, CA 94066', 'Belmont, CA 94002',
       'San Francisco, CA 94110', 'Martinez, CA',
       'San Francisco, CA 94122', 'Walnut Creek, CA',
       'Kentfield, CA 94904', 'Oakland, CA 94601', 'San Mateo, CA 94402',
       'San Francisco, CA 94117', 'Walnut Creek, CA 94596',
       'Sunnyvale, CA', 'Sunnyvale, CA 94089', 'Sunnyvale, CA 94085',
       'Sunnyvale, CA 94086'], dtype=object)

## Cleaning Data

In [14]:
nullsdf = pd.DataFrame(round(dataset.isna().sum()/len(dataset),4)*100)

In [15]:
nullsdf

                 0
position      0.16
company       0.16
description   0.16
reviews      23.52
location      0.16

### Cleaning location

In [ ]:
dataset['city'] = dataset['location'].str.split(',', )

0        [Atlanta,  GA 30301 ]
1               [Atlanta,  GA]
2               [Atlanta,  GA]
3        [Atlanta,  GA 30303 ]
4               [Atlanta,  GA]
                 ...
6959          [Sunnyvale,  CA]
6960          [Sunnyvale,  CA]
6961          [Sunnyvale,  CA]
6962          [Sunnyvale,  CA]
6963    [Sunnyvale,  CA 94089]
Name: location, Length: 6964, dtype: object

### Cleaning Position

In [1]:
dataset['position'].info()

NameError: name 'dataset' is not defined